*.o
pi-synth
callgrind.*
cachegrind.*
*~
*.kdev4
core
build
.lock-wscript
node_modules
.idea
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
piSynth
src/config.h
Doxyfile
docs
